.dashboard {
	padding: 0px 15px 15px;
}
.progress-container{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.progress {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 20px;
}
.progress-container .row{
    padding: 5px 5px 5px 5px;
}
.dashboard .head {
    text-align: center;
}
.row-2 , .row-1{
    margin: 0;
    padding: 0;
}
.progress-container .progress a{
    position: absolute;
    left: 40%;
    font-size: 18px;
    color: black;
}

.progress-bar {
    min-width: 10%;
}
div.filter {
    padding: 0;
}
div.filter li {
    display:inline;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 3px;
    margin-right: 0;
}

.btn-test {
    width: auto;
}

div.score-container{
    background-color: #fcfcfc;
    border: 1px solid #d7d7d7;
    box-shadow: 0 0 6px #ccc;
    margin: 0px 0px 10px 0;
    padding: 1px;
    text-align: center;
}

div.score-container div.title{
    background-image: -webkit-linear-gradient(#f5f5f5, #e7e7e7);
    background-image: -o-linear-gradient(#f5f5f5, #e7e7e7);
    background-image: linear-gradient(#f5f5f5, #e7e7e7);
    border-bottom: 1px solid #ddd;
    color: #333;
    font-weight: bold;
    padding: 9px 0;
}
div.score-container div.description{
    padding-bottom: 10px;
}
div.score-container div.score{
    color: #259013;
    display: block;
    font-size: 50px;
    text-align: center;
}

div.dashboard-chart-score {
    display: table;
	padding-top:10px;
}

div.chart-description {
    position: absolute;
    bottom: 0;
    padding-left: 13px;
    padding-right: 13px;
    color: #119013;
}

.table-header {
    text-decoration: underline;
}

.table-header:hover{
    cursor: pointer;
    color: #FF00FF;
    text-decoration: underline;
}
.btn-fw {
	width:100%;
	display:block;
}
.time-range .unclickable-dropdown {
	width: 200px;
	padding: 12px;
	padding-bottom: 0;
}
.subject-score {
  display: block;
  height: 106px;
  width: 106px;
  border: solid 5px #5cb85c;
  text-align: center;
  line-height: 70px;
  border-radius: 150px;
  font-size: 40px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}
.subject-score-text {
	font-size: 15px;
	display: block;
	line-height: 5px;
	color: #3B9B3B;
}  
.dashboard-subject-name {
	margin-top: 0;
	font-size: 25px;
}
.dashboard-subject-name  img {
	width: 25px;
	vertical-align: top;
}
.dashboard-subject-container {
	border-bottom:solid 1px #EFEFEF;
	padding: 20px 0;
}
.row.dashboard-subject-container:last-of-type {
	border-bottom:0;
}
.dashboard-subject-container:nth-child(odd) {
	background: #F7F7F7;
}
.center {text-align:center;}
.w-100 {
	width: 100px;
}
.subcategory-row {
	display:none;
}
.category-row {
	cursor: pointer;
	background: #f9f9f9;
}
.category-row a {
	text-decoration: none;
}
.grade-tabs {
  font-weight: bold;
}
.grade-tabs .active a {
  /*background-color: #428bca!important;
  border-color: #357ebd!important;
  color:#fff!important;*/
}
.ranking-info {
	  font-weight: normal;
	  padding: 7px 10px;
	  display: block;
	  text-align: left;
	  font-size:12px;
}
.ranking-info a {
	color: #fff;
}
.subject-token {
  background: rgba(66, 139, 202, 0.69);
  height: 220px;
  margin: 20px 0;
  text-align: center;
}
.subject-token.has-score {
	 background: #5cb85c;
}
.subject-token .btn {width:auto;}
.subject-token .subject-name {
  color: #fff;
  font-size: 18px;
  border-bottom: solid 1px #fff;
  padding: 5px 0;
}
.subject-token .subject-score {
  margin: auto;
  border-color: #fff;
  color: #fff;
}
.subject-token .subject-score-text {
	color:#fff;
}