@media (min-width: 768px) {
	#dialog .modal-dialog, #login-modal .modal-dialog {
		margin-top:100px!important;
	}
}	
body > .container {
	margin-top: 40px;
}
/* login */
.login-open, .login-open:focus, .login-open:active {
	outline:none!important;
}

/*message, flashMessage*/
.message{
	background-color: rgb(238, 238, 238);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	padding-bottom: 12px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 12px;
}

/* navbar */
.navbar-default {
    background-color: #428bca;
    border-color: #428bca;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: yellow;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: yellow;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.heading {
  color: #888;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.form-content {
  border: 1px solid #aaa; 
}

/* dashboard */
.dashboard-header, .personal-page-header {
  background-color: #F8F8F8;
  border-top: 4px solid #81AFD1;
  padding: 5px;
}
.dashboard-header .avatar img, .personal-page-header .avatar img {
  padding: 3px;
  background-color: white;
  box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
}

.dashboard .breadcrumb {
  background-color: #D3F2FF;
  border: solid 1px #B2E6FC;
  color: #4B97D5;
}

.dashboard .breadcrumb>li+li:before
{
	color: #4B97D5;
}

.dashboard .breadcrumb a {
	text-decoration:none;
}

.user-overview .avatar {
	width: 60px;
	height: 60px;
	border-radius: 70px;
	position: absolute;
}

.info-overview {
	padding-left: 75px;
}

.user-name {
  padding-left: 10px;
}
.user-name a {
  font-size: 12px;
}
.dashboard-header h4 {
  margin-bottom: 5px;
  color: #0F2A8A;
}
.overall-rating .progress {
  height: 20px;
}
.overall-rating {
  font-size: 11px;
}
.overall-rating > div {
  width: 150px;
  margin-left: 20px;
  margin-right: 10px;
  padding-top: 8px;
}
.time-range {
  /*border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 1px 1px #eee;
  -moz-box-shadow: 0px 1px 1px #eee;
  -webkit-box-shadow: 0px 1px 1px #eee;*/
}
.time-range h5 {
  margin-left: 10px; 
  margin-right: 15px; 
  color: #bbb;
}
.time-range a {
  margin-top: 6px;
  margin-right: 10px;
}
.filters div {
  margin-top: 20px; 
  background-color: #E7FFE4;
}
.filters  > .well > label {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.filters li > input[type='checkbox'] { 
  float: left;
  margin-right: 10px;
}
.filters li {
  clear: both; 
}
.dashboard-content {
  margin-top: 20px;
}

#chart {
  width: 700px;
  height: 120px;
}
/* Notify Css */
.notify-img {
    width: 32px;
    height: 32px;
	position: absolute;
	left: 10px;
}
.notify-menu {
	width:300px;
	max-height:300px;
	border-top:0!important;
	padding-top: 8px;
	padding-bottom: 8px;
}
.notify-menu .divider {
margin: 8px 0px!important;
}

span.notify-counter {
  background: #DD443F;
  width: 20px;
  border-radius: 20px;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 3px;
  right: 1px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
.notify-menu li.notify {
	white-space: normal;
	position: relative;
	padding-left: 50px;
	padding-right: 10px;
	font-size: 12px;
	min-height: 33px;
}
ul.dropdown-menu li > a {
	text-transform: none!important;
}
/* Personal Page */
.personal-page-header .user-info {
	padding-left:20px;
}

.btn.btn-ghost {
  border: solid 3px #fff;
  color: #fff;
  /*background-color: rgba(66, 139, 202, 0.21);*/
  transition: .5s;
}
.btn.btn-ghost:hover {
	background:#428BCA;
	border-color:#428BCA;
}
.btn.btn-orange {
	  color: #fff;
	background-color: #F47920;
	border-color: #F47920;
}
.btn.btn-orange:hover {
	background-color: #F5954F;
}
.overviews-ranking {
	position: absolute;
	top: 4px;
	right: 15px;
	background:#00B2FF;
	cursor:pointer;
}

/* portal */
li.activity-item {
  padding: 7px;
}
li.activity-item:nth-child(odd){
	  background: #F9F9F9;
}

.activity-list {
  list-style: none;
  padding:0;
  margin-bottom: 0;
  height: 264px;
}
.activity-entry, .ranking-entry  {
  position: relative;
}
.activity-item img, .ranking-item img {
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
}
.activity-item p, .ranking-item p {
  margin-left: 40px;
  height: 30px;
  font-size: 12px;
  margin-bottom:0;
}

.ranking-filter {
	  background-color: #1361A5;
  font-size: 13px;
  padding: 1px;
  border-radius: 3px;
  border: solid 1px #075598;
  outline:none;
}

.ranking-filter-green {
background-color: #C5E0B9;
  border-color: #B2C5AB;
  color: #000
}

.ranking-list {
  list-style: none;
  padding:0;
  margin-bottom: 0;
}
.ranking-item img {
	border-radius: 50px;
}

li.ranking-item {
  padding: 7px;
}
li.ranking-item:nth-child(odd){
	  background: #F9F9F9;
}

.ranking-item a, .activity-item a {
	color: #333;
}

.ranking-xp {
	float:right;
	padding-right: 5px;
}
.ranking-meta {
  font-size: 11px;
  color: #7C7C7C;
}
.ranking-number {
width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  font-size: 12px;
  line-height: 30px;
  border-radius: 30px;
  background-color: #D8EDFF;
  left: 0;
  top: 0;
  text-align: center;
  font-weight: bold;
}

ul.subnews-container {
  padding-left: 20px;
  list-style-type: square;
}
h5.subnews-title {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cta-btn {
	-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;

}
.cta-btn-hover {
  background-color: #E25111!important;
  border-color: #D34D11!important;
}

.right {text-align:right;}
.left {text-align:left;}
.ib {display:inline-block;}
.inline {display:inline;}
.bl {display: block;}
.w-550 {width:550px;}
.w-450 {width:450px;}
.w-200 {width:200px!important;}
.w-300 {width:300px!important;}
.w-150 {width:150px!important;}
.w-100 {width:100px!important;}
.w-70 {width:70px!important;}
.w-50 {width:50px!important;}

.fw {width:100%;}
.wa {width:auto!important;}
.l40 {left:40px!important;}
.l35 {left:35px!important;}
.mga {margin:auto;}
.mg0 {margin:0;}
.mgl-75 {margin-left:75px!important;}
.mgl-80 {margin-left:80px!important;}
.mgt-0 {margin-top:0!important;}
.mgt-10 {margin-top:10px!important;}
.mgt-100 {margin-top:100px!important;}
.mgb-0 {margin-bottom:0px!important;}
.mgb-10 {margin-bottom:10px!important;}
.mglr-10{margin:0 10px!important;}
.pd0 {padding:0!important;}
.pd10 {padding:10px!important;}

.pdl-30 {padding-left:30px;}
.pdl-5 {padding-left:5px!important;}
.pdr-5 {padding-right:5px!important;}
.pdr-0{padding-right:0;}

.blur1 {opacity: 0.1;}
.blur3 {opacity: 0.3;}
.nbrd {border:0;}
.w-half {width:50%;}
.nudl {text-decoration:none!important;}
.nudl.no-style {
	color: #333;
}
.news-hr {
	margin-top: 5px;
  margin-bottom: 5px;
  border-color: #428BCA;
  border-width: 2px;
}

/* Font Class */
.fs-25 {font-size:25px;}
.fs-22 {font-size:22px!important;}
.fs-19 {font-size:19px;}
.fs-13 {font-size:13px;}
.fs-12 {font-size:12px;}

/* Additional button */
.btn-facebook {
	  color: #fff;
	  background-color: #49639f;
	  border-color: #374D81;
} 
.f-icon {
	position: relative;
	padding-right: 25px;
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active {
	color:#fff!important;
}

.btn-facebook .f-icon b {
	position: absolute;
  font-size: 18px;
  top: -4px;
  border-right: solid 1px #314B89;
  padding-right: 9px;
 } 
 .btn.btn-orange {
	color:#fff;
	background-color: #F47920;
	border-color: #F47920;
}
.btn.btn-orange:hover {
	background-color:#FF6B00;
}