/*message, flashMessage*/
.message{
	background-color: rgb(238, 238, 238);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	padding-bottom: 12px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 12px;
}

body {
	margin-bottom: 60px;
}

/* navbar */
.navbar-default {
    background-color: #428bca;
    border-color: #428bca;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: yellow;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: yellow;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}