/*message, flashMessage*/
.message{
	background-color: rgb(238, 238, 238);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	padding-bottom: 12px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 12px;
}

/* navbar */
.navbar-default {
    background-color: #428bca;
    border-color: #428bca;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: yellow;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: yellow;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.heading {
  color: #888;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.form-content {
  border: 1px solid #aaa; 
}

/* dashboard */
.dashboard-header, .personal-page-header {
  background-color: #F8F8F8;
  border-top: 4px solid #81AFD1;
  padding: 5px;
}
.dashboard-header .avatar img, .personal-page-header .avatar img {
  padding: 3px;
  background-color: white;
  box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
}

.user-name {
  padding-left: 10px;
}
.user-name a {
  font-size: 12px;
}
.dashboard-header h4 {
  margin-bottom: 5px;
  color: #0F2A8A;
}
.overall-rating .progress {
  height: 20px;
}
.overall-rating {
  font-size: 11px;
}
.overall-rating > div {
  width: 150px;
  margin-left: 20px;
  margin-right: 10px;
  padding-top: 8px;
}
.time-range {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 1px 1px #eee;
  -moz-box-shadow: 0px 1px 1px #eee;
  -webkit-box-shadow: 0px 1px 1px #eee;
}
.time-range h5 {
  margin-left: 10px; 
  margin-right: 15px; 
  color: #bbb;
}
.time-range a {
  margin-top: 6px;
  margin-right: 10px;
}
.filters div {
  margin-top: 20px; 
  background-color: #E7FFE4;
}
.filters  > .well > label {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.filters li > input[type='checkbox'] { 
  float: left;
  margin-right: 10px;
}
.filters li {
  clear: both; 
}
.dashboard-content {
  margin-top: 20px;
}

#chart {
  width: 700px;
  height: 120px;
}
/* Personal Page */
.personal-page-header .user-info {
	padding-left:20px;
}
.right {text-align:right;}
.left {text-align:left;}
.ib {display:inline-block;}
.inline {display:inline;}
.bl {display: block;}
.w-450 {width:450px;}
.w-200 {width:200px;}
.fw {width:100%;}
.wa {width:auto!important;}
.mg0 {margin:0;}
.pdl-30 {padding-left:30px;}
.blur1 {opacity: 0.1;}