body {
  /*min-height: 2000px;*/
}

.navbar-static-top {
  margin-bottom: 19px;
}

.nav>li>a>img.profile-img{
	max-width: 50px;
    padding: 2px;
    border-radius: 10px;
}

.navbar-nav>li>a.profile-img{
	padding: 0;
}

.navbar-nav>li{
    white-space: nowrap;
}