/*table*/
table:first-child {
    background: aqua;
}

table, th, td {
    border: solid 1px;
}

/*dashboard.chart-performance*/
div .dashboard #chart_per{
    display: inline;
}
/*dashboard.chart div*/
div .dashboard #chart{
    text-align: center;
    width: 800px;
    height: 450px;
}
/*dashboard.performace div*/
div .dashboard #performance{
    text-align: center;
    margin-left: 150px;
    vertical-align: middle;
}

/*dashboard.performance value*/
.dashboard #performance #performance_value{
    font-family: 'tahoma';
    font-size: 100px;
    margin: 0px;
    padding: 0px;
}

/*dashboard.performance rank*/
.dashboard #performance #ranking{
    font-family: 'tahoma';
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

/*dashboard.performance hint text*/
.dashboard #performance p #hint{
    font-family: 'tahoma';
    font-size: 12px;
}

/*dashboard.performance suggestions*/
.dashboard #performance #suggestion{
    font-family: 'arial';
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

/**dashboard.performance rating*/
.dashboard #performance #rating{
    font-family: 'tahoma';
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
/*suggestions*/
/*suggestion.performace div*/
div .suggestion #performance{
    text-align: center;
    vertical-align: middle;
}

/*suggestion.performance value*/
.sugesstion #performance_value{
    font-family: 'tahoma';
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

/*nav_bar*/
div.nav_bar > ul > li{
    display: inline;
}
div.nav_bar #user_nav{
    position: absolute;
    right: 30px;
}

/*footer*/
div.footer #power{
    float: right;
    list-style: none;
}
.footer{
    float: right;
}
table {
    border: solid 1px;
    border-collapse: collapse;
}

div .history {
    text-align: center;
}
fieldset {
    border: none;
}

/** Merge home.css **/
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.content {
}
.content .container {
  padding-bottom: 20px;
}
#name{
    font-size: 80px;
}

#slogan{
    font-size: 20px;
    font-family: tahoma;
}

.facebook-btn, .google-btn {
  max-width: 300px;
}
.home-banner img {
  width: 100%;
}
.home-banner {
  border-bottom: 1px solid gray;
}
.header .navbar {
  margin-bottom: 1px;
  border-bottom: 1px solid white;
}
.header .navbar-left {
  margin-left: 20px;
}
#middle-logo {
  margin-top: -20px;
  margin-left: -5px;
}
#middle-tagline {
  margin-top: 20px;
  color: orange;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}
.middle-banner {
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}
.about-pls {
  padding-left: 15px;
  padding-right: 20px;
  margin-top: 30px;
  font-size: 15px;
  font-family: verdana;
}
.about-pls h5 {
  color: rgba(0, 173, 39, 1);
  margin: 20px 0 15px;
  font-weight: bold;
}
.about-pls div {
  margin-bottom: 20px;
}
.home-login {
  padding-top: 40px;
  font-family: verdana;
  text-align: center;
}
.home-login h4 {
  color: gray;
  margin-bottom: 20px;
}
.home-login p {
  margin: 10px 0;
}
.navbar-brand {
  padding: 0px 15px;
}

ul.navbar-nav li > a {
  text-transform: uppercase;
  color: #ddd;
}
#register-methods > div {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px dashed #ccc;
}
/* Huy add */
form#TestAnswersDoTestForm {
  margin-bottom: 30px;
}
form#TestAnswersDoTestForm div.simplePagerContainer{
  max-width: 780px;
  margin: 0 auto;
}
ul#questions {
  text-align: left;
  padding: 0px;
}
ul#questions li{
  list-style: none;
}

ul#questions li div.question{
  font-size: 20px;
  color: brown;
}
.answer-heading {
    border-top: 1px dashed #ccc;
    margin-top: 15px;
    padding-top: 10px;
}
div.choices{
  margin: 20px;
}
div.choices label{
  margin-left: 10px;
  font-weight: normal;
}
.nav>li>a>img.profile-img{
  max-width: 50px;
}

.class10{

}

.class11{
  background-color: #f0ad4e;
}

.class12{
  background-color: #5bc0de;
}

div#selectedCategories{
  margin-top: 10px;
}

div#selectedCategories ul{
  list-style: none;
  padding-left: 10px;
}

div#selectedCategories ul .glyphicon{
  top: 3px;
}

div#selectedCategories ul li{
  margin-bottom: 2px;
}

/* Huy.VQ update theo yeu cau cua anh Cuong */

div.question .title{
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px;
}

div.question .question-content{
  font-size: 15px;
  line-height: 24px;
  margin: 0 20px;
}

button#btn-submit{
  background-image: -webkit-linear-gradient(#d9534f, #d9534f);
  background-image: -o-linear-gradient(#d9534f, #d9534f);
  background-image: linear-gradient(#d9534f, #d9534f);
  border: 1px solid #d9534f;
  border-radius: 2px;
  box-shadow: 0 0 6px #ccc;
  color: #eee;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 13px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  width: 100%;
}

div#doTest{
  margin: 0 auto;
  width: 980px;
}

div#left{
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 15px #ccc;
  min-height: 400px;
  padding: 0 1px 20px;
  width: 710px;
  float: left;
}

div#right{
  padding-bottom: 25px;
  top: 12px;
  width: 265px;
  float: right;
}

div#countdown{
  color: #259013;
  display: block;
  font-size: 30px;
  text-align: center;  
}

div.clock{
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #d7d7d7;
  margin: 15px 0 15px 15px;
  padding: 13px 10px;
  text-align: center;
}


div.test-info {
  background-color: #fcfcfc;
  border: 1px solid #d7d7d7;
  box-shadow: 0 0 6px #ccc;
  margin: 0px 0px 10px 15px;
  padding: 1px;
  text-align: center;
}

div.test-info div.title {
  background-image: -webkit-linear-gradient(#f5f5f5, #e7e7e7);
  background-image: -o-linear-gradient(#f5f5f5, #e7e7e7);
  background-image: linear-gradient(#f5f5f5, #e7e7e7);
  border-bottom: 1px solid #ddd;
  color: #333;
  font-weight: bold;
  padding: 9px 0;
}

div.test-info table{
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
  border: none;
}

div.test-info table tr td{
  border: none;
  text-align: left;
  font-weight: bold;
}

div.test-info table tr td.first{
  text-align: right;
  width: 40%;
  font-weight: normal;
}

div#submitTest{
  margin-left: 15px;
}

/* Select */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  font-weight: normal;
  color: #333;
  border: 1px solid #ccc;
}

.ui-widget{
  font-family:  "Helvetica Neue",​Helvetica,​Arial,​sans-serif
}

.ui-widget label{
  font-weight: normal;
}

.ui-widget .ui-state-hover{
  font-weight: normal;
}

#preDoTest .col-sm-7{
  text-align: left;
}

button.btn-test{
  margin-right: 5px;
}

div.nav{
  padding: 10px 20px;
}
div.nav button{
  background-image: -webkit-linear-gradient(#fff, #e7e7e7);
  background-image: -o-linear-gradient(#fff, #e7e7e7);
  background-image: linear-gradient(#fff, #e7e7e7);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  max-width: 120px;
  padding: 8px 11px 6px 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;  
}
div.nav button:hover{
  background-image: -webkit-linear-gradient(#2299dd, #1589cb);
  background-image: -o-linear-gradient(#2299dd, #1589cb);
  background-image: linear-gradient(#2299dd, #1589cb);
  border: 1px solid #0d7bba;
  color: #fff;
  text-shadow: 1px 1px 1px #0d7bba;  
}
ul.simplePagerNav{
  margin: 0 20px;
  padding: 10px;
  display: block;
  overflow: hidden;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}

ul.simplePagerNav li a{
  background: url("http://static.thionline.vn/image/v2/question.bg.png") repeat-x scroll center center transparent;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  margin: 6px;
  min-width: 36px;
  padding: 6px 7px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;  
}
ul.simplePagerNav li.active a{
  background-image: -webkit-linear-gradient(#0c940f, #047006);
  background-image: -o-linear-gradient(#0c940f, #047006);
  background-image: linear-gradient(#0c940f, #047006);
  border: 1px solid #005f04;
  color: #edf0ed;
  text-shadow: 1px 1px 1px #005f04;  
}
ul.simplePagerNav li.chose a{
  background-image: -webkit-linear-gradient(#2299dd, #1589cb);
  background-image: -o-linear-gradient(#2299dd, #1589cb);
  background-image: linear-gradient(#2299dd, #1589cb);
  border: 1px solid #0d7bba;
  color: #fff;
  text-shadow: 1px 1px 1px #0d7bba;  
}
div.answer{
  margin: 30px 20px 10px;
  display: block;
}
div.answer label.btn-answer{
  display:block;
  text-align: left;
  float: none;
  background-color: #f3f3f3;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 10px;  
  margin: 10px 0;
  line-height: 30px;
  font-weight: normal;
}

div.answer label.btn-answer:hover{
  border: 1px solid #ccc;
  background-color: #fff;
}  

div.answer label.active{
  background-color: #fff;
  border: 1px solid #2299dd;
  border-radius: 4px;
  color: #2299dd;
  box-shadow: none;
}

div.answer label span{
  background: none repeat scroll 0 0 #ddd;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #111;
  font-weight: bold;
  padding: 4px 10px 5px;
  text-align: center; 
  margin-right: 10px;
}

div.answer label.active span{
  background: none repeat scroll 0 0 #2299dd;
  color: #fff;
  text-shadow: 1px 1px 1px transparent;  
}

div.choose-answer{
  color: #1288cc;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 5px 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;  
}

div.incorrect{
  color: #cc1111 !important;
}

/* Ask for Help */
#ask-for-help {
  margin-top: 10px;
  margin-bottom: 20px;
}

.ask-4-help.score-view,
#explanation-listing .explanation {
  border-bottom: 1px solid #aaa;
}
#explanation-listing .explanation {
  padding-top: 20px;
  padding-bottom: 20px;
}
.explanation .vote {
  text-align: center;
  width: 60px;
}
.explanation .vote .vote-up,
.explanation .vote .vote-down {
  display: block;
  height: 25px;
  margin: 0 auto;
  width: 41px;
  font-size: 1px;
  text-indent: -9999em;
  cursor: pointer;
  background-image: url("/img/sprites.png");
  background-repeat: no-repeat;
  overflow: hidden;
}
.explanation .vote .vote-up {
  background-position: 0 -265px;
}
.explanation .vote .vote-down {
  background-position: 0 -300px;
}
.vote-count-post {
  color: #555;
  padding-top: 2px;
  display: block;
  font-size: 24px;
}
#ExplanationIndexForm .submit {
  padding-top: 10px;
}
#ExplanationIndexForm .submit input {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}
