/*table*/
table:first-child {
    background: aqua;
}

table, th, td {
    border: solid 1px;
}

/*dashboard.chart-performance*/
div .dashboard #chart_per{
    display: inline;
}
/*dashboard.chart div*/
div .dashboard #chart{
    float: left;
    text-align: center;
    width: 800px;
    height: 450px;
}
/*dashboard.performace div*/
div .dashboard #performance{
    text-align: center;
    margin-left: 150px;
    vertical-align: middle;
}

/*dashboard.performance value*/
.dashboard #performance #performance_value{
    font-family: 'tahoma';
    font-size: 100px;
    margin: 0px;
    padding: 0px;
}

/*dashboard.performance rank*/
.dashboard #performance #ranking{
    font-family: 'tahoma';
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

/*dashboard.performance hint text*/
.dashboard #performance p #hint{
    font-family: 'tahoma';
    font-size: 12px;
}

/*dashboard.performance suggestions*/
.dashboard #performance #suggestion{
    font-family: 'arial';
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

/**dashboard.performance rating*/
.dashboard #performance #rating{
    font-family: 'tahoma';
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
/*suggestions*/
/*suggestion.performace div*/
div .suggestion #performance{
    text-align: center;
    vertical-align: middle;
}

/*suggestion.performance value*/
.sugesstion #performance_value{
    font-family: 'tahoma';
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

/*nav_bar*/
div.nav_bar > ul > li{
    display: inline;
}
div.nav_bar #user_nav{
    position: absolute;
    right: 30px;
}

/*footer*/
div.footer #power{
    float: right;
    list-style: none;
}
.footer{
    float: right;
}
table {
    border: solid 1px;
    border-collapse: collapse;
}

div .history {
    text-align: center;
}
fieldset {
    border: none;
}

/** Merge home.css **/
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.content {
}
.content .container {
  padding-bottom: 20px;
}
#name{
    font-size: 80px;
}

#slogan{
    font-size: 20px;
    font-family: tahoma;
}

.facebook-btn, .google-btn {
  max-width: 300px;
}
.home-banner img {
  width: 100%;
}
.home-banner {
  border-bottom: 1px solid gray;
}
.header .navbar {
  margin-bottom: 1px;
  border-bottom: 1px solid white;
}
.header .navbar-left {
  margin-left: 20px;
}
#middle-logo {
  margin-top: -20px;
  margin-left: -5px;
}
#middle-tagline {
  margin-top: 20px;
  color: orange;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}
.middle-banner {
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}
.about-pls {
  padding-left: 15px;
  padding-right: 20px;
  margin-top: 30px;
  font-size: 15px;
  font-family: verdana;
}
.about-pls h5 {
  color: rgba(0, 173, 39, 1);
  margin: 20px 0 15px;
  font-weight: bold;
}
.about-pls div {
  margin-bottom: 20px;
}
.home-login {
  padding-top: 40px;
  font-family: verdana;
  text-align: center;
}
.home-login h4 {
  color: gray;
  margin-bottom: 20px;
}
.home-login p {
  margin: 10px 0;
}
.navbar-brand {
}

ul.navbar-nav li > a {
  text-transform: uppercase;
  color: #ddd;
}
#register-methods > div {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px dashed #ccc;
}
/* Huy add */
form#TestAnswersDoTestForm {

}
form#TestAnswersDoTestForm div.simplePagerContainer{
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px;
}
form#TestAnswersDoTestForm div.simplePagerContainer ul#questions {
  text-align: left;
  padding: 0px;
}
ul#questions li{
  list-style: none;
}
div.test-info{
  max-width: 780px;
  margin: 0 auto;
  padding: 0 10px;
  color: #999;
}

ul#questions li div.question{
  font-size: 20px;
}

